#countdown {
font-size: 1.2em;
font-weight: bold;
color: #69a6fca5; 
background-color:#7935B5 ;
padding: 10px;
border-radius: 10px;
display: inline-block;
margin-top: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Futura, sans-serif;
    overflow: hidden;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: url('img.jpg') no-repeat center center/cover; */
    background-color: black;
}
.text-content {
    background: #ffffff3b;
    z-index: 33;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    max-width: 60%;
    padding-left: 9%;
    padding-right: 51%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.text-content h1 {
    font-size: 3em;
    margin: 0;
}
.text-content p {
    font-size: 1.2em;
    text-shadow: 2px 2px 6px #6a3db1;
}

#particle-canvas {
    width: 100%;
    height: 100%;
  }